/*
　index.css

*/


body, html{ height: 100%; }
body{ background: url('../image/m01.jpg') no-repeat; }
.hello{
	position: absolute;
	background: pink;
	color: white;
	font-weight: bold;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	font-size: 25px;
	text-align: center;
}

#hello2{
	top: 120px;
	opacity: 1;
	left: 50%;

	-webkit-animation-duration: 1s;
	-webkit-animation-name: webkitslide;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;

/*
	animation-duration: 1s;
	animation-name: slide;
	animation-iteration-count: 1;
	animation-fill-mode: both;
*/
}

@-webkit-keyframes webkitslide{
	0%{
		left: 0px;
		opacity: 0;
	}
	100%{
		left: 50%;
		opacity: 1;
	}
}
/*
@keyframes slide{
	0%{
		left: 0px;
		opacity: 0;
	}
	100%{
		left: 50%;
		opacity: 1;
	}
}
*/

#hello3{
	top: 220px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: perspective(200px) rotateY(45deg);
	-moz-transform-style: preserve-3d;
	-moz-transform: perspective(200px) rotateY(45deg);
	-o-transform-style: preserve-3d;
	-o-transform: perspective(200px) rotateY(45deg);
	-ms-transform-style: preserve-3d;
	-ms-transform: perspective(200px) rotateY(45deg);
	transform-style: preserve-3d;
	transform: perspective(200px) rotateY(45deg);

}
